body{
    margin: 0px;
}
#img1{
    width: 100%;
    bottom: 534px;
}
footer{
    /* bottom: 0px; */
    /* margin-top: 200px; */
    height: 534px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #292d35;
    display: flex;
    margin-top: -5px;
}
#fixed{
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
    height: 534px;
    display: flex;
}
footer>#fixed>div:first-child{
    height: 100%;
    width: 30%;
    /* border: 1px solid teal; */
    box-sizing: border-box;
    padding: 80px 59px 83px 54px;
    margin-left: 50px;
}
footer>#fixed>div:first-child>img{
    cursor: pointer;
}
footer>#fixed>div:first-child>p{
    color: #94979a;
    font-size: 14px;
    font-weight: 560;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
#socials{
    width: 60%;
    height: 30px;
    /* border: 1px solid red; */
    display: flex;
}
#socials a{
    color: white;
}
#socials a:hover{
    /* transition: 1s; */
    color: #292d35;
}
#socials>div{
    width: 20%;
    height: 100%;
    background: #8ec038;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    /* transform: rotate(x); */
}
#socials>div:hover{
transition: 1s;
    background: white;
    color: #292d35;
}
footer>#fixed>div:last-child{
    height: 100%;
    width: 70%;
    /* border: 1px solid teal; */
    z-index: 155;
    display:flex;
}
footer>#fixed>div:last-child>div{
    height: 100%;
    width: 30%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding:80px 0px 187px 17px;
}
footer>#fixed>div:last-child>div>div{
    margin-top: 30px;
}
footer h2{
    font-family: 'Fira Sans', sans-serif;
    color: #8ec038;
    font-size: 30px;
    margin-bottom: 40px;
}
footer h2+ul{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
footer h2+ul>li:hover{
transition: 1s;
    color: #8ec038;
    font-size: 13px;
    cursor: pointer;
}
footer h2+ul>li{
    margin-bottom: 15px;
}
.contacts{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.contacts>div{
    margin-left: 10px;
    margin-top: -12px;
    line-height: 15px;
}
.contacts>i{
    color: #8ec038;
}
.contacts>i+div>p{
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-weight: 100;
}
.contacts>i+div>p:hover{
transition: 1s;
    
    color: #8ec038;
}
.contacts>i+div>p:first-child{
    color: #8ec038;
    font-size: 13px;
    font-weight: bold;
}