h1{
    margin-left: 428px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
}
#detailsBox{
    margin: auto;
    height: 300px;
    width: 769px;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 5px;
    padding: 22px 30px;
    margin-bottom: 50px;
}
#detailsBox>p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(109, 109, 109);
}
#detailsBox>p:last-child{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(43, 42, 42);
}
#detailsBox>input{
    width: 800px;
    height: 48px;
    /* padding: 22px 30px; */
    background: white;
    font-size: 14px;
    font-weight: 400;
    z-index: 3;
    color: black;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 35px;
    box-sizing: border-box;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 20px;
}
#detailsBox>div{
    display: flex;
    margin-top: 25px;
}
#detailsBox button{
    height: 36px;
    width: 125px;
    font-size: 14px;
    background-color: #DA2424;
    padding: 7px 30px;
    color: white;
    border-radius: 25px;
    border: 0;
    margin-left: -10px;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
#detailsBox>div>input{
    display: inline-flex;
    margin-left: 30px;
    margin-top: 12px;
}
#detailsBox>div>p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(109, 109, 109);
    margin-top: 9px;
    margin-left: 5px;
}
body{
    margin: 0px;
}
#img1{
    width: 100%;
    /* position: absolute; */
    bottom: 534px;
}
footer{
    position: absolute;
    /* bottom: 0px; */
    /* margin-top: 200px; */
    height: 534px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #292d35;
    display: flex;
    margin-top: -10px;
}
footer>div:first-child{
    height: 100%;
    width: 30%;
    /* border: 1px solid teal; */
    box-sizing: border-box;
    padding: 80px 140px 150px 70px;
}
footer>div:first-child>img{
    cursor: pointer;
}
footer>div:first-child>p{
    color: #94979a;
    font-size: 14px;
    font-weight: 560;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
#socials{
    width: 60%;
    height: 35px;
    /* border: 1px solid white; */
    display: flex;
}
#socials a{
    color: white;
}
#socials a:hover{
    color: #292d35;
}
#socials>div{
    width: 20%;
    height: 100%;
    background: #8ec038;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    /* transform: rotate(x); */
}
#socials>div:hover{
    background: white;
    color: #292d35;
}
footer>div:last-child{
    height: 100%;
    width: 60%;
    /* border: 1px solid teal; */
    display:flex;
}
footer>div:last-child>div{
    height: 100%;
    width: 30%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 80px 0px 150px 0px;
}
footer>div:last-child>div>div{
    margin-top: 30px;
}
footer h2{
    font-family: 'Fira Sans', sans-serif;
    color: #8ec038;
    font-size: 30px;
    margin-bottom: 40px;
}
footer h2+ul{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
footer h2+ul>li:hover{
    color: #8ec038;
    font-size: 13px;
    cursor: pointer;
}
footer h2+ul>li{
    margin-bottom: 15px;
}
.contacts{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.contacts>div{
    margin-left: 10px;
    margin-top: -12px;
    line-height: 15px;
}
.contacts>i{
    color: #8ec038;
}
.contacts>i+div>p{
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-weight: 100;
}
.contacts>i+div>p:hover{
    color: #8ec038;
}
.contacts>i+div>p:first-child{
    color: #8ec038;
    font-size: 13px;
    font-weight: bold;
}